@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1111;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {   
    position: absolute;
    top: 12px;
    right: 11px;
    font-size: 26px;
    margin-left: 50px;
    text-decoration: none;
    color: #FFF;
}


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu {
    font-family: Raleway, sans-serif;
    color: #ffffff;
}
#cssmenu ul ul {
    display: none;
}
#cssmenu > ul > li.active > ul {
    display: block;
}
.align-right {
    float: right;
}
#cssmenu > ul > li > a {
    padding: 16px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background: rgba(207,10,44,1);
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
    color: #d8f3f0;
}
#cssmenu ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 19px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
    position: absolute;
    right: 22px;
    top: 23px;
    display: block;
    width: 10px;
    height: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#cssmenu ul ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #dddddd;
    background: rgba(207,10,44,.85);
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-left: 32px;
}

/*Listas 3 nivel */
#cssmenu ul ul ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #dddddd;
    background: rgba(207,10,44,.75);
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-left: 42px;
}

/*Listas 4 nivel */
#cssmenu ul ul ul li ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #DEDEDE;
    background: rgba(207,10,44,.85);
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-left: 52px;
}

/*Listas 4 nivel */
#cssmenu ul ul ul li ul li ul  li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #FFF;
    background:  #49505a;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-left: 62px;
}

#cssmenu ul ul li a:hover {
    color: #ffffff;
    font-weight: bolder;
}
#cssmenu ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #dddddd;
}
#cssmenu ul ul > li.has-sub > a:before {
    top: 20px;
    background: #dddddd;
}

.formu{
    margin-top: 50px;
}

.radioB{
    width:80px;
    font-size: 11pt;
}

.comun{
    margin-left: 100px;
    width:200px;
    font-size: 11pt;
}

article{
    float: left;
    margin-left: 250px;
}

aside{
    float: right;
    margin-right: 250px;
    margin-top: 0;
}

h2{
    margin: 0;
}

.tab{
    height: 100%;
    width: 100%;
}

.formulario_submit{
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 11pt;
    cursor: pointer;
    border: none;  
    border-radius: 20px; 
    height: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


